div.tweet { width: 100%; min-height: 90px; position: relative; }
div.image {
	float: left;
	min-width: 60px;
	vertical-align: middle;
}
div.image img {
	 border-radius: 30px;
	 max-width: 50px;
	 position: relative;
}

div.desc {
	position: relative;
	vertical-align:middle;
}
div.desc a:link {
    color: #777777;
	text-decoration: none;
}
div.desc a:visited {
    color: #777777;
	text-decoration: none;
}
div.post a:link {
	 color: #777777;
	text-decoration: none;
}
div.post a:visited {
	 color: #777777;
	 text-decoration: none;
}